.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.button {
  width: 100px;
  height: 34px;
  background: #000;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}
